:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #fff;
    --light-rgb: 255, 255, 255;
    --dark-blue: #1E2F40;

    --tr: .2s
}

body {
    font-family: var(--open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Header */

.header {
    border-bottom: 1px solid #DEDEDE;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
    margin-left: min(10vw, 140px);
}

.nav-link {
    color: var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    transition: var(--tr);
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    display: flex;
    align-items: center;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    gap: 10px;
}

.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    position: absolute;
    left: 17px;
    bottom: 0;
}

.button-up {
    max-width: 100px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: var(--dark);
    font-size: 14px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--accent-light);
    border: none;
    border-radius: 5px;
    transition: var(--tr);
}

.button-up:hover {
    background-color: var(--accent-dark);
}

.button-up.hidden {
    opacity: 0;
}

.button-up.visible {
    opacity: 1;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
}

.hero-contact {
    background-image: url(../images/hero-contanct.jpg);
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}

.breadcrumbs-link {
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    transition: var(--tr);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    line-height: 1.1;
}

.hero-description {
    max-width: 320px;
    margin: 0 auto;
    color: rgba(var(--light-rgb), .8);
    font-size: 15px;
    line-height: 160%;
    margin-top: 15px;
}

.banner {
    margin-top: 140px;
}

.banner-wrapper {
    background-image: url(../images/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px 100px 100px;
}

.banner-title span {
    display: flex;
    background-color: var(--accent-dark);
    width: 95px;
    height: 28px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--light);
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.banner-title {
    font-family: var(--nunito-sans);
    color: var(--light);
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 20px;
}

.banner-description {
    width: 353px;
    color: rgba(var(--light-rgb), .8);
    margin: -60px 0 30px 0;
    font-size: 15px;
    line-height: 160%;
}

.banner-btn {
    background-color: var(--accent-light);
    padding: 20px 10px;
    border-radius: 5px;
    border-color: transparent;
    width: 170px;
    height: 58px;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--nunito-sans);
    text-transform: uppercase;
    color: var(--dark);
    transition: var(--tr);
}

.banner-btn:hover {
    background-color: var(--accent-dark);
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-title {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-select {
    color: var(--dark);
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: 90% center;
    border: 1px solid #DEDEDE;
    padding: 10px 30px;
    border-radius: 20px;
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
    margin-bottom: 100px;
}

.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.menu-title {
    font-family: var(--nunito-sans);
    text-transform: uppercase;
    color: var(--dark);
    font-size: 44px;
    font-weight: 700;
}

.menu-title-additionally {
    font-family: var(--nunito-sans);
    text-transform: uppercase;
    color: var(--dark);
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

.menu-name {
    color: var(--dark);
    font-size: 30px;
    font-family: var(--nunito-sans);
    font-weight: 600;
    line-height: 126%;
    margin-bottom: 0;
    text-transform: capitalize;
}

.menu-price {
    color: rgba(44, 37, 37, .5);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.menu-btn {
    display: flex;
    background-color: var(--accent-light);
    width: 152px;
    height: 38px;
    gap: 10px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--nunito-sans);
    justify-content: center;
    padding-top: 10px;
    transition: var(--tr);
}

.menu-btn:hover {
    background-color: var(--accent-dark);
    cursor: pointer;
}

.menu-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/cart-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: var(--dark-blue);
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/logo-footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-title {
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 13px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-link {
    color: rgba(var(--light-rgb), .9);
    font-size: 15px;
    line-height: 160%;
    transition: var(--tr);
}

.footer-link:hover {
    color: var(--accent-light);
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.footer-list-item {
    color: var(--light);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}

.footer-list-item span {
    display: block;
    color: rgba(var(--light-rgb), .9);
    font-weight: 400;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer-tel {
    display: block;
    color: var(--accent-light);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 12px;
    transition: var(--tr);
}

.footer-phone {
    width: 198px;
}

.footer-tel._mobile {
    display: none;
}

.footer-tel:hover {
    color: #c58912;
}

@media (max-width: 1080px) {
    .header-wrapper {
        gap: 40px;
    }
    .nav {
        margin-left: 0;
        gap: min(3vw, 30px);
    }

    .menu-name {
        width: 180px;
    }

    .menu-name._additionaly {
        height: 70px;
    }

    .menu-name._special {
        height: 70px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
        height: 47.81px;
    }
    .header-wrapper {
        gap: 45px;
    }
    .nav {
        gap: 22px;
    }
    .banner {
        margin-top: 72px;
    }
    .banner-wrapper {
        padding: 100px 40px;
    }
    .menu-header {
        margin-top: 80px;
    }
    
    .menu-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-box._additionaly {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .menu-item._additionaly {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        flex-basis: 40%;
    }

    .menu-item._additionaly .menu-thumb {
        width: 455px;
        height: 300px;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .menu-item._additionaly .menu-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-name {
        width: 150px;
    }

    .footer-phone {
        display: none;
        width: 150px;
    }

    .footer-tel._mobile {
        display: block;
    }
}
